My_workflow.json
{
  "name": "My workflow 2 copy",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject: daily sales"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        160
      ],
      "id": "a8c991c2-aec1-42fa-80d5-35375a8cee9e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "MCQCaZk2tiY1Hwfu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_aggregate",
          "mode": "list",
          "cachedResultName": "fact_aggregate"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "customer_id": "={{ $json.customer_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "on_time": "={{ $json.on_time }}",
            "in_full": "={{ $json.in_full }}",
            "otif": "={{ $json.otif }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "on_time",
              "displayName": "on_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "in_full",
              "displayName": "in_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "otif",
              "displayName": "otif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        740,
        80
      ],
      "id": "000233d4-92b0-409a-88f6-095da85576da",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vabxZDDPxhfVE23G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        80
      ],
      "id": "a0bf5446-223d-451f-8d7e-70ddc4d87501",
      "name": "Extract from File : Aggregate"
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        280
      ],
      "id": "105ab3ee-d6e2-4775-90fd-18f3891151cb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_order_line",
          "mode": "list",
          "cachedResultName": "fact_order_line"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "customer_id": "={{ $json.customer_id }}",
            "product_id": "={{ $json.product_id }}",
            "order_qty": "={{ $json.order_qty }}",
            "agreed_delivery_date": "={{ $json.agreed_delivery_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "actual_delivery_date": "={{ $json.actual_delivery_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "delivery_qty": "={{ $json.delivery_qty }}",
            "In Full": "={{ $json['In Full'] }}",
            "On Time": "={{ $json['On Time'] }}",
            "On Time In Full": "={{ $json['On Time In Full'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_qty",
              "displayName": "order_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "agreed_delivery_date",
              "displayName": "agreed_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_delivery_date",
              "displayName": "actual_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_qty",
              "displayName": "delivery_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "In Full",
              "displayName": "In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time",
              "displayName": "On Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time In Full",
              "displayName": "On Time In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        760,
        280
      ],
      "id": "09874884-344a-4f67-8d57-63ecb0cf9db7",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "vabxZDDPxhfVE23G",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "197c06b2abed620d",
          "threadId": "197c06b2abed620d",
          "labelIds": [
            "UNREAD",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 36964,
          "headers": {
            "delivered-to": "Delivered-To: bhawneetsingh59@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id a640c23a62f3a-ae214366367sor295290966b.17.2025.06.30.03.38.57\r\n        for <bhawneetsingh59@gmail.com>\r\n        (Google Transport Security);\r\n        Mon, 30 Jun 2025 03:38:58 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a17:907:d2dd:b0:ae3:61e7:1e80 with SMTP id\r\n a640c23a62f3a-ae361e72047mr993503466b.54.1751279937060; Mon, 30 Jun 2025\r\n 03:38:57 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1751279938; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=KJDq42Qj+KAVFjBBIpkLAN3Q6JUsYVWd7oQb/3LOUUhR3fsRgByshznZZhwtONKdPd\r\n         j4ANUaGXxKanVFcIFY/hRqOO9rU1AuqPkbXY8Y7ZMVgDyoaZvWIpXfI6/AaimZeWY/Ph\r\n         GcKsOslDh0y8KhSf3lLBrVAgb54bhrpFCkSrnxmmPPMsB6q+XBUItGhiBxHwwOybNVRW\r\n         arHo/iJgSRFlu+2di0Opburt+K3sRZ4ZBTcAs6DH108bbVC0H2KyiSTVVJirbbPxqqd5\r\n         zi3jRYoTqBcPAuR0sId4P8wOx5B4D97i3H2vSB9TaLO8pUPdPHqQ/kFLVqYVdQmLU/b0\r\n         gRbw==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=UBOj0zLqGh46SJa/JlQn7pSwFJjux/9tSXsnJfBxmoU=;\r\n        fh=bUwZCqewGgStambqQagv8JYjqoo3JhSebn+rAdgx+Lc=;\r\n        b=BXcUf8SUR0ArzTzgRMHGXw6R0GYuyVqR58WEOHuo1lE59fo3/l9kBx62IYxwb7b5NN\r\n         EUnBbjSkKauz06Iqkwzk5+qgiA+EDBVxcC+ZGhXQeA+JfudirjDJIas/XOFERP8cO0kg\r\n         k+9aa7cR2Zaxe1bcUKODBenJgTAYFqL1JZ7uyHDxpL9pS+5ghU3z0M6LZoWhcqqrAGQy\r\n         hiGIou4CbeE/htbbi9wuLswQlOFC4UoFjtUU+wmiVUsPne6rojVg53OdTptGFfpQw83u\r\n         CI79zVWrA65q/mp9Ei/yVATZeucW3aCdly9EEj9XjOsmXe2F8LZqDG6wvzClp3Svkljy\r\n         QW4Q==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=jo3JAHhv;\r\n       spf=pass (google.com: domain of bhawneetsingh51@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=bhawneetsingh51@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <bhawneetsingh51@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of bhawneetsingh51@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=jo3JAHhv;\r\n       spf=pass (google.com: domain of bhawneetsingh51@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=bhawneetsingh51@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1751279937; x=1751884737; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=UBOj0zLqGh46SJa/JlQn7pSwFJjux/9tSXsnJfBxmoU=;\r\n        b=jo3JAHhvbS8pR1BdneVRhKAx4i3WX7i70TcXvAfsUDFfnar3WKURCixUyUWn8jmMaE\r\n         SKyUeCAMdhWW9TBXG0auUNQYvhLmNACIFWKS3jAVozfb/00oawiOxNL8vEJ57Gwmi01v\r\n         DFWZNv4NPonQ89BR7reESlpMZ6A0jZQCoafqte3nCZRLTPf5ClwZ7Y7rNlIoyuy2WCYP\r\n         MxGMGBjFeV+OfK/ZGnknYz0cYUq0+CIKKP8p0+NvgNgxKom/hNW2Wz3hAU9LplI6eCgb\r\n         AGTO/Iqy10g+T1lWtluNJLQDBaQ1lyjcMMOc81DxuR8/G/x3CXXkSs6V18mGJf+mdePe\r\n         1eRg==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1751279937; x=1751884737;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=UBOj0zLqGh46SJa/JlQn7pSwFJjux/9tSXsnJfBxmoU=;\r\n        b=Hkj8hUMmsgNvTS7+ajYx/C4kkho2AQBmcTWrDVrmkpPKW3N7xYPeN5SNaB8EfuPdI/\r\n         7p03khQCsQ81GjI9d4TJbcdXmhSDG2lgKy7XWWQRXibRuLiNorvnF/x41oOSfYRchJHK\r\n         ayYMW0KtXWx/j+V3T7m2qjlzb1buAc3RMxzuNKBpm64RZNg6Ad9tbQ9gknnvF1FbzhX9\r\n         VW58SMcH/nGdUYsNRNXhhyH+sSxBRUhRE7hO+0n9ZmCL/sZwZIxzpYP6R4uWOvpCwNgb\r\n         U4Avs110Yg0ekWBlrF/SVFXbVFKfyPospTsvTEEjllEDWcIJc+5Lqs9sQFWxEbk+QukC\r\n         3AtA==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YztBgl6bKgFIbiN4VHc9jwLdUfplPd/c+54J5A4ocEo+xZvIhW5\r\n\tDC2TSqSK2f0zidrOvHYgz8FJZ2j9hkUdWjzP86zQpO41cEqJw+luxY+klyEFDWx3cFD2eZsCyC6\r\n\tz7R4CXKQdtmcIOGCdKvArjY59jGwbCdLcGg==",
            "x-gm-gg": "X-Gm-Gg: ASbGncvg5xjeajKBQOrh2rBbOTTpncPlV7wlEuuNo0FRe8O4uPkC70iS1l5rlt/NLUz\r\n\tXIU3CxvwSZUTnFZ/mcvCcG1DA9QrKMbnAst6q+DevxXkmUlh6vz1dyftlhzuV4vcnsSGBNxt1Ti\r\n\t2p67gv1vHAsxVkwaC3VzRTu4sDmFAdZuisfv5GzNF41pxJaEMb9Q==",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IEuA3DDEKZQSy2tb5FYqeeGwd3wIYSKvkAsLIFOnJqad4v/vtIRioq6XHilxzlFRVwlgJOAicouMCjFLUjRo3E=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Bhawneet Singh <bhawneetsingh51@gmail.com>",
            "date": "Date: Mon, 30 Jun 2025 16:08:41 +0530",
            "x-gm-features": "X-Gm-Features: Ac12FXyGQNmF_JXphow8T8crfeSYfGwCQIqxVtFSh4HymRmxQ4GOsk0TYsWeczs",
            "message-id": "Message-ID: <CAE2Td5QaJfb-zPqT59XAktqTW_pbaqeRpan83sL+bjeffMWwjg@mail.gmail.com>",
            "subject": "Subject: Daily Sales India",
            "to": "To: \"bhawneetsingh59@gmail.com\" <bhawneetsingh59@gmail.com>",
            "content-type": "Content-Type: multipart/mixed; boundary=\"0000000000008d3f280638c7a24e\""
          },
          "html": "<div dir=\"ltr\"><br></div>\n",
          "text": "\n",
          "textAsHtml": "<p></p>",
          "subject": "Daily Sales India",
          "date": "2025-06-30T10:38:41.000Z",
          "to": {
            "value": [
              {
                "address": "bhawneetsingh59@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:bhawneetsingh59@gmail.com\" class=\"mp_address_email\">bhawneetsingh59@gmail.com</a></span>",
            "text": "bhawneetsingh59@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "bhawneetsingh51@gmail.com",
                "name": "Bhawneet Singh"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Bhawneet Singh</span> &lt;<a href=\"mailto:bhawneetsingh51@gmail.com\" class=\"mp_address_email\">bhawneetsingh51@gmail.com</a>&gt;</span>",
            "text": "\"Bhawneet Singh\" <bhawneetsingh51@gmail.com>"
          },
          "messageId": "<CAE2Td5QaJfb-zPqT59XAktqTW_pbaqeRpan83sL+bjeffMWwjg@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File : Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File : Aggregate": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d342cfab-fa93-4754-a8a8-f87435a2fb97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06383a093ff5153d64fa065858ff3d237ed96aecd7236b4a6c474a52bbe9ec22"
  },
  "id": "mYQaygFWgTkwO4NZ",
  "tags": []
}